// Colours
$bodyColour: #453F6F;
$headingColour: #778FA8;
$linkColour: #778FA8;
$hoverColour: #a3a04d;
$captionColour: #a3a04d;
$white: #fff;

$backgroundColour: #f9f6ee;
$codeBackgroundColour: #95424e;
