// Colours
$bodyColour: #778FA8;
$headingColour: darken($bodyColour, 5%);
$linkColour: #95424e;
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 40%);
$white: #fff;

$backgroundColour: #7D7098;
$codeBackgroundColour: #c3c3c3;
