// Colours
$bodyColour: #bb4f35;
$headingColour: #46618E;
$linkColour: #5c619d;
$hoverColour: #afa4ce;
$captionColour: #D39237;
$white: #F9F6EE;

$backgroundColour: #F9F6EE;
$codeBackgroundColour: #F9F6EE;
