// Colours
$bodyColour: #34414e;
$headingColour: #7D7098;
$linkColour: #95424e;
$hoverColour: #a3a04d;
$captionColour: #a3a04d;
$white: #fff;

$backgroundColour: #f9f6ee;
$codeBackgroundColour: #c3c3c3;
